body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #0c0c0c;
  height:100vh;
  width:100vw;
  padding: 0;
}

.component {
  height: 95%;
  width: 100%;
}